@model HungerGamesSimulator.Models.Game
@{
    ViewData["Title"] = "Home page";
}

<div class="holder">
    <h1 class="right delay">LET'S GET STARTED</h1>
    <h1 class="right delay 2">HOW MANY PARTICIPANTS IN THE GAMES?</h1>
    <input class="right delay 2" type="number" name="LimitDistricts" placheholder="12"/>
</div>
