#{
    ViewData["Title"] = "Create New Hunger Sim"
}


<h1>IT'S TIME TO GET <span class="red">BLOODY</span></h1>

<p class="delay"><a class="no-link" asp-controller="Game" asp-action="Create">CREATE NEW SIM</a></p>